#ulNavigationBar {
    list-style-type: none;
    padding-left: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    overflow: hidden;
    background: #222;
    font-family: Verdana, Geneva, sans-serif;
}

#ulNavigationBar li {
    float: left;
    margin-right: 0.5%;    
}

#ulNavigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 10%;
    border: 1px solid rgb(51, 122, 183);
    
}

#ulNavigationBar li a:hover:not(.active) {
    background-color: rgba(51, 122, 183, 0.4);
    border-radius: 10%;
    
}

#ulNavigationBar .active {
    background-color: rgb(51, 122, 183);
    border-radius: 10%;

}

body{ 
   
background: #1e3c72; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#naglowekIndex{
    color: white;
    text-align: center;
    padding-top: 50px;
}

#tabelaOsob{
    background: white;
    border-left: 7px solid #222;
    border-right: 7px solid #222;
    border-top: 7px solid #222;
    text-align: left;
    margin: 0 auto;
    font-size: 12px;
}

#tabelaOsob th{
    background: #222;
    color: white;
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 7px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#tabelaOsob td{
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 2px;    
    padding-bottom: 2px;
    border-bottom: 2px solid #c9c9c9;
    height: 30px;
    font-family: Verdana, Geneva, sans-serif;
}

#tabelaOsob tr:hover{
    background-color: #c9c9c9;
}

#positionPagination{
    padding-left: 45%;
    padding-bottom: 0.5%;
    font-family: Verdana, Geneva, sans-serif;
}

#footerSettings{
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    position: fixed;
    bottom: 0;
    padding-left: 50px;

}

h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
}

.imgPerson{
    width:  92px;
    height: auto;
    margin: auto;
    display: block;
}

#odstep{
    padding-top: 1.5%;
}

#naglowekImieNazwisko{
    height: 100px;
    background-color: white;
    border-bottom: 4px solid #222;
    border-top: 4px solid #222; 
    display: table;
}

#childNaglowekImieNazwisko{
    display: table-cell;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 22;
}

#naglowekImg{
    height: 100px;
    background-color: white;
    border-bottom: 4px solid #222;
    border-top: 4px solid #222;
    border-left: 4px solid #222;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

#naglowekRadiusPrawa{
    height: 100px;
    background-color: white;
    border-bottom: 4px solid #222;
    border-top: 4px solid #222;
    border-right: 4px solid #222;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

.tabelkiSzczegolow{
    background-color: white;
    margin-bottom: 2%;
    border: 3px solid #222;
}

.tloTabelekDiv{
/*    background-color: white;*/
/*    border: 10px solid #222;*/
    font-family: Verdana, Geneva, sans-serif;
}


.headSzczegoly{
    background-color: #222;
    color: white;
    padding: 5px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%; 
}

#tabelaInfoPodstawowe td:first-child{
    font-weight: bold;
}

#tabelaInfoKontaktowe td:first-child{
    font-weight: bold;
    
}

#tabelaDokumentTozsamosci td:first-child{
    font-weight: bold;
    padding-right: 155px;
}

#tabelaRodzice td:first-child{
    font-weight: bold;
    padding-right: 135px;
}

#tabelaInfoDodatkowe {
    margin: 0 auto;
}

#tabelaInfoDodatkowe td:first-child{
    font-weight: bold;
}

#naglowekContact{
    color: white;
    text-align: center;
    font-size: 37;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 50px;
}

#daneKontaktowe{
    color:white;
    font-size: 15;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

#naglowekAbout{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20;
    padding-top: 30px;
}

#listaTechnologii{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13;
}

#naglowekOpisZadania{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20;
    padding-top: 30px;
}

#opisZadania{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13;
}