#ulNavigationBar {
    list-style-type: none;
    padding-left: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    overflow: hidden;
    background: #222;
    font-family: Verdana, Geneva, sans-serif;
}

#ulNavigationBar li {
    float: left;
    margin-right: 0.5%;    
}

#ulNavigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 10%;
    border: 1px solid rgb(51, 122, 183);   
}

#ulNavigationBar li a:hover:not(.active) {
    background-color: rgba(51, 122, 183, 0.4);
    border-radius: 10%; 
}

#ulNavigationBar .active {
    background-color: rgb(51, 122, 183);
    border-radius: 10%;
}

body{  
background: #1e3c72; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

#naglowekIndex{
    color: white;
    text-align: center;
    padding-top: 5%;
}

#tabelaOsob{
    background: white;
    border-left: 7px solid #222;
    border-right: 7px solid #222;
    border-top: 7px solid #222;
    border-bottom: 7px solid #222;
    text-align: left;
    margin: 0 auto;
    font-size: 12px;
}

#tabelaOsob th{
    background: #222;
    color: white;
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 7px;
    font-family: Verdana, Geneva, sans-serif;
}

#tabelaOsob td{
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 2px;    
    padding-bottom: 2px;
    border-bottom: 2px solid #c9c9c9;
    height: 30px;
    font-family: Verdana, Geneva, sans-serif;
}

#tabelaOsob tr:hover{
    background-color: #c9c9c9;
}

#stopkaholder{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: static;
    text-align: center;
    width: 100%;
}

#stopka{
    background: none repeat scroll 0 0;
    height: 30px;
    margin: auto;
    width: 300px;
}

h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
}

#divNaglowkaSzczegoly{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.imgPerson{
    width:  170px;
    height: auto;
    margin: 5 50 5 25%;
}

#childNaglowekImieNazwisko{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 30;
    display: inline-table;
    vertical-align: middle;
}

#odstep{
    padding-top: 3%;
}

#naglowekImieNazwisko{
    background-color: white;
    border: 4px solid #222;
}



.tabelkiSzczegolow{
    background-color: white;
    border: 3px solid #222;
    float: left;
    width: 46%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    table-layout: fixed;
}

.headSzczegoly th:first-child{
    background-color: #222;
    color: white;
    padding: 5px;
    border-bottom-left-radius: 20%;
    
}

.headSzczegoly th:nth-child(2){
    background-color: #222;
    color: white;
    padding: 5px;
    border-bottom-right-radius: 20%; 

}

#tabelaInfoPodstawowe{
    margin-left: 3%;
}

#tabelaInfoPodstawowe td{
    padding: 4px;
}
#tabelaRodzice td{
    padding: 4px;
}
#tabelaInfoDodatkowe td{
    padding: 4px;
}
#tabelaDokumentTozsamosci td{
    padding: 4px;
}
#tabelaInfoPodstawowe td:first-child{
    font-weight: bold;
}

.tabeleZeSzczegolami{
    margin-left: 10%;
    margin-right: 10%;
}

#tabelaInfoKontaktowe{
    background-color: white;
    width: 100%;
    border-right: 5px solid #222;
    border-bottom: 5px solid #222;
}

#tabelaInfoKontaktowe th{
    color: white;
    background-color: #222;
    border-top: 2px solid #222;
    padding-right: 0px;
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 5px;
    text-align: center;
}

#tabelaInfoKontaktowe td{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid #222;
    text-align: center;

}

#tabelaDokumentTozsamosci{
    margin-top: 2%;
    margin-left: 3%;
}

#tabelaDokumentTozsamosci td:first-child{
    font-weight: bold;
}

#tabelaRodzice{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
}

#tabelaRodzice td:first-child{
    font-weight: bold;
}

#tabelaInfoDodatkowe{
    margin-left: 2%;
}

#tabelaInfoDodatkowe td:first-child{
    font-weight: bold;
}

#naglowekContact{
    color: white;
    text-align: center;
    font-size: 30;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 5%;
}

#daneKontaktowe{
    color:white;
    font-size: 12;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

#naglowekAbout{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20;
    padding-top: 30px;
}

#listaTechnologii{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13;
    margin-bottom: 5%;
}

#naglowekOpisZadania{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20;
    padding-top: 5%;
}

#opisZadania{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13;
}